/* estilos globales */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(#1a0d0b, #230f0e); /* fondo marrón oscuro */
  color: #FFF9E7; /* texto crema claro */
}

.app {
  display: flex;
  height: 100vh;
}
/* barra lateral */
.sidebar {
  width: 220px;
  background-color: #1A0D0B;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url("assets/images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.bonus-button {
  background-color: #290f0f;
  color: #A5FF00;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-list li:hover {
  background-color: #2d2d2d;
}

.menu-list li img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu-list li span {
  font-size: 16px;
  color: white;
  font-family: 'Arial', sans-serif;
}
/* contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
/*barra superior */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1a1a1a;
}

.search-container {
  display: flex;
  align-items: center;
}

.search {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
  width: 200px;
  background: #2a1a1a;
  color: #FFF9E7;
}

.eye-button {
  width: 36px;
  height: 36px;
  background-image: url("assets/images/ojo.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.lang-select {
  margin: 0 20px;
  cursor: pointer;
  color: #FFD700;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login {
  background-color: transparent;
  color: #FFD700;
}

.signup {
  color: whiteS;
  background-image: url("assets/images/register.png");
  background-size: 100px 60px; /* antes era 20px 20px */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333;
  padding: 8px 12px;
  opacity: 0.5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transform: scaleY(-1);
}


/*banners */
.banners {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.banner {
  padding: 20px;
  width: 200px;
  height: 100px;
  background-color: #2c1512;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  color: #FFF9E7;
  padding: 10px;
  cursor: pointer;
}

.tabs .active {
  border-bottom: 2px solid #FFD700;
}

.category {
  margin-bottom: 30px;
}
.jackpot-banner {
  background-image: url("assets/images/bonus.png");
  background-size: contain;  /* <--- Esto evita que se corte */
  background-position: center;
  background-repeat: no-repeat;
}
/* tarjetas de juegos */
.game-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.game-card {
  width: 200px;             /* o el tamaño que necesites */
  height: 230px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.game-card:hover {
  transform: scale(1.05);
}
.game-card.fruit-blaze {
  background-image: url("assets/images/fruitSlot.png");
}

.game-card.sixteen-coins {
  background-image: url("assets/images/greekSlot.png");
}

.game-card.coins-alkemor {
  background-image: url("assets/images/zuluSlot.png");
}

.game-card.minas {
  background-image: url("assets/images/minaPromo.png");
}

.game-card.crash {
  background-image: url("assets/images/crashPromo.png");
}

.game-card.double {
  background-image: url("assets/images/doublePromo.png");
}

/*tarjeta promocional */
.promo-card {
  background: #290f0f;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.promo-card button {
  margin-top: 10px;
  background-color: #FFD700;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
}
/* footer */
.footer-toggle {
  margin-top: auto;
}
